{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "prettier", "@html-eslint"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "rules": {
        "no-console": 1,
        "prettier/prettier": [
            "error",
            {
                "endOfLine": "auto"
            }
        ]
    },
    "overrides": [
        {
            "files": ["*.html"],
            "parser": "@html-eslint/parser",
            "extends": ["plugin:@html-eslint/recommended"]
        }
    ]
}
